<link rel="apple-touch-icon" sizes="180x180" href="{{ site.site_root }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.site_root }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.site_root }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.site_root }}/site.webmanifest">
<link rel="stylesheet" href="{{ site.site_root }}/assets/css/styles.css">
<script type="text/javascript" src="{{ site.site_root }}/assets/js/scripts.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        setModifiedDate();
    }, false);

    function setModifiedDate() {
        if (document.getElementById('last-modified')) {
            fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
                .then((response) => {
                    console.log(JSON.stringify(response));
                    return response.json();
                })
                .then((commits) => {
                    let modified = commits[0]['commit']['committer']['date'].slice(0, 10);
                    //if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
                    document.getElementById('last-modified').textContent = "Last Modified: " + modified;
                    // }
                });
        }
    }

</script>